<div class="row">
  <div class="small-12 medium-10 large-8">
    <h1>New Extra Filling</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Back', fillings_path, class: 'button radius info' %>
  </div>
</div>
