<div class="row">
  <div class="small-12 medium-10 large-8">
    <h1>Editing Drink</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Show', @drink, class: 'button radius info' %>
    <%= link_to 'Back', drinks_path, class: 'button radius info' %>
  </div>
</div>