<div class="row">
  <div class="small-12 medium-10 large-8">
    <p>
      <strong>Name:</strong>
      <%= @drink.name %>
    </p>

    <p>
      <strong>Price:</strong>
      £<%= number_with_precision(@drink.price, :precision => 2) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-8">
    <%= link_to 'Edit', edit_drink_path(@drink), class: 'button radius success' %>
    <%= link_to 'Back', drinks_path, class: 'button radius info' %>
  </div>
</div>
