// Place all the styles related to the Burgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

legend {
  font-size: 1.5rem;
}

select.day, select.month, select.year {
  width: auto;
  padding: 0 1.5rem 0 0.5rem;
}

label {
  font-weight: bold;
}

.checkbox_container label {
  font-weight: normal;
}